.table-container{
  display: flex;
  flex-direction: row;
  align-content: center;
}
.tenant-list{
  display: flex;
    justify-content: center;
}

.tenant-column,
.property-column{
  border: 1px solid black;
  width: 100%;
    max-width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-header{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  max-width: 44rem;
  width: 100%;
}


.all-tenants-container{
  height: 100%;
}

.tenant-top-header{
  
  background-color: rgba(150, 150, 150, 0.7);
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1rem;
  margin-bottom: 5rem;
  font-weight: 700;
}
.tenants-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-bottom: 10rem;
}
.header-text{
  text-decoration: underline;
}

.column-width{
  width: 100%;
  max-width: 10rem;
  padding-left: 3rem;
padding-right: 3rem;
}