.edit-details-container {
  display: flex;
  background-color: white;
  margin: 1rem 5rem 5rem;
  padding: 1rem;
}
.edit-fields {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  align-items: flex-start;
}

.edit-container {
  margin: 10rem;
}

.edit-details-background {
  background-color: rgb(240, 240, 240);
  margin-bottom: 7rem;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

.edit-container-background {
  background: url(https://images.unsplash.com/photo-1524813686514-a57563d77965?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bmVpZ2hib3Job29kfGVufDB8MHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)
    no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.edit-holder {
  display: flex;
  justify-content: center;
}
.edit-property-screen-save {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
  margin-left: 36rem;
  padding-bottom: 1rem;
}
.edit-img-field {
  padding-top: 1rem;
  margin-left: 0.8rem;
}

.edit-input-fields {
  margin-bottom: 1rem;
  max-width: 13rem;
  width: 100%;
}

.edit-label-fields {
  font-weight: 600;
}

.edit-property-image {
  width: 100%;
  max-width: 17rem;
}

@media only screen and (max-width: 960px) {
  .edit-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 2rem 2rem;
  }

  .edit-img-field {
    display: flex;
    flex-direction: column;
  }
  .edit-property-screen-save {
    margin-left: 17rem;
  }
}
