.tenant-display-header{
  display: flex;
  flex-direction: row;
  background-color: rgba(150, 150, 150, 0.5);
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 1rem;
  margin-bottom: 5rem;
  font-weight: 900;
}

.display-property{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
}

.tenant-property-name{
margin-bottom: 0rem;
}

.tenant-property-address{
  margin-top: 0rem;
}

.address-details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0rem;
}

.previous-address{
  margin-bottom: 0rem;
}
.display-tenant-details{
  background-color: rgb(240, 240, 240);
  padding: 4rem;

}
.subdisplay-tenant-details{
  background-color: white;
  padding: 2rem;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.topdisplay-tenant-details{
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;
  margin: 5rem;
}
.display-tenant-container{
  height: 67.5rem;
}

.edit-tenant-subheader{
margin-bottom: 0rem;
font-weight: 700;
}