.tenant-create-form {
  background-color: rgb(240, 240, 240);
  margin-bottom: 7rem;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 5rem 5rem;
}
.tenant-create-formcontainer {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.create-tenant-inputs {
  max-width: 20rem;
  width: 100%;
  margin-bottom: 1rem;
}

.create-tenant-label {
  font-weight: 700;
}

.create-tenant-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: white;
}
.create-tenant-screen-save {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
  margin-left: 25rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 960px){
  .create-tenant-screen-save {
    margin-left: 17rem;
  }
}