.layout-container{
  height: 100%;
}
nav {
  background-color: black;
color: white;
height: 20vh;
}
header{
  text-decoration: none;
  text-decoration-color: white;
}

.layout-children{
  height: 100%;
}

footer{
  background-color: black;
  color: white;
  text-align: left;
  padding: .1rem .5rem;
}